<div id="explore-list">
  <div id="head-container">
    <div id="paginate-conatainer">
      <select id="dimension-names"></select>
      <a id="paginate-down"><<</a>
      <label for="main-search" id="main-search-lbl"></label>
      <a id="paginate-up">>></a>
    </div>
    <div id="search-container">
      <input type="text" class="validate-me" placeholder="Search" id="main-search">
      <button id="main-search-button">SEARCH</button>
      <button id="blanks-filter">BLANKS</button>
      <button id="blanks-clear">CLEAR</button>
    </div>
  </div>
  <table id="explore-tbl"></table>
</div>
<div id="edit-list">
  <div id="edit-view"></div>
  <table id="edit-tbl"></table>
</div>
<div id="wait-container">
  <div id="wait-inner"></div>
  <div id="wait-msg">
    <h3>PLEASE WAIT</h3>
  </div>
</div>
