<div id="explore-list">
  <div id="search-container">
    <select id="dimension-names"></select>
    <input type="text" placeholder="Search" id="main-search">
    <input type="button" value="SEARCH" id="main-search-button">
    <label for="main-search" id="main-search-lbl"></label>
    <button id="blanks-filter">SHOW BLANKS</button>
    <button id="blanks-clear">CLEAR</button>
  </div>
  <table id="explore-tbl"></table>
</div>
<div id="edit-list" class="edit-show">
  <div id="edit-view">
    <div class="show-arrow">&#x25B2;</div>
    <div class="hide-arrow">&#x25BC;</div>
  </div>
  <table id="edit-tbl"></table>
  <div class="suggest-container scroll">
    <ul class="suggest-list"></ul>
  </div>
</div>

