<%
  var atts = _.omit(model.attributes, model.hiddenFlds),
      readOnlyFlds = _.pick(atts, model.readOnlyFlds),
      editFlds = _.omit(atts, model.readOnlyFlds),
      edit = false;

  _.each(atts, function(val, key) {
    _.each(editFlds, function(i, editKey) {
      if(key === editKey) {
        edit = true;
      }
    })

    if(edit) {
%>    <td><input type="text" class="<%= key %> validate-me suggest" value="<%= val %>"></td> <%
    } else {
      if(model.attributes.last_record === 1 && key === 'end_date') {
%>      <td><input type="text" class="<%= key %> datepicker" value="<%= val %>"></td> <%
      } else {
%>      <td class="<%= key + "_td" %>"><span class="<%= key %>"><%= val %></span></td> <%
      }
    } %>
<%
    edit = false;
  })
%>
<td class="show-controls" colspan="99">
<div class="control-container">
  <ul class="main-controls">
    <li><button class="save">SAVE</button></li>
    <li><button class="edit">EDIT</button></li>
    <li><button class="remove">REMOVE</button></li>
  </ul>

  <ul class="edit-controls">
    <li class="new-dimension-li"><button class="new-dimension">NEW</button></li>
    <li class="save-new-dimension-li"><button class="save-new-dimension">SAVE</button></li>
    <li><button class="delete">DELETE</button></li>
    <li><button class="cancel-new-dimension">CANCEL</button></li>
  </ul>
</div>
</td>

