<%
  var atts = _.omit(model.attributes, model.stale),
      readOnlyFlds = _.pick(atts, model.readOnlyFlds),
      editFlds = _.omit(atts, model.readOnlyFlds),
      edit = false;

  _.each(atts, function(val, key) {
    _.each(editFlds, function(i, editKey) {
      if(key === editKey) {
        edit = true;
      }
    })

    if(edit) {
%>    <td><input type="text" class="<%= key %>" value="<%= val %>"></td> <%
    } else {
      if(model.attributes.last_record === 1 && key === 'end_date') {
%>      <td><input type="text" class="<%= key %> datepicker" value="<%= val %>"></td> <%
      } else {
%>      <td class="<%= key + "_td" %>"><span class="<%= key %>"><%= val %></span></td> <%
      }
    } %>
<%
    edit = false;
  })
%>
<td>
  <div class="dim-controls">
    <button class="save-dim">SAVE</button>
    <button class="new-dim">EDIT</button>
    <button class="remove-dim">REMOVE</button>
  </div>
  <div class="edit-controls">
    <button class="create-new-dim">NEW</button>
    <button class="save-new-dim">SAVE</button>
    <button class="delete-dim">DELETE</button>
    <button class="cancel-new-dim">CANCEL</button>
  </div>
</td>

